.untdovr_gs_log_men {
    float: left
}

.untdovr_admim_conf.untdovr_admin_submit[type=submit] {
    left: 45px !important
}

.wpnotif-box {
    left: 8px;
    right: unset
}

.untdovr-list-head_buttons {
    float: left
}

.untdovr-float-left {
    float: right
}

.untdovr-float-right {
    float: left
}

.untdovr-whatsapp-send {
    margin-right: 0;
    margin-left: 12px
}

.untdovr-list .wpnotif-inline:last-child {
    margin-left: 20px;
    margin-right: 0
}

.untdovr_admim_conf.untselect-container--default[dir=rtl] .untselect-selection--single .untselect-selection__arrow {
    right: unset;
    left: 10px
}